@import 'main.css';

.home-child {
  max-width: 40vw;
}

.greeting {
  font-size: 10vw;
}

@media (max-width: 700px) {
  .home-child {
    max-width: 80vw;
  }
  .greeting {
    font-size: 20vw;
  }
}
