@import 'main.css';

.home-child {
  max-width: 30%;
}

.greeting {
  font-size: 600%;
}

@media (max-width: 800px) {
  .home-child {
    max-width: 50%;
  }
  .greeting {
    font-size: 500%;
  }
}

@media (max-width: 600px) {
  .home-child {
    max-width: 80%;
  }
  .greeting {
    font-size: 400%;
  }
}
