@import 'main.css';

.home-child {
  max-width: 25%;
}

.greeting {
  font-family: impact, courier, verdana, arial, helvetica, sans-serif;
  font-size: 100pt;
}

@media (max-width: 700px) {
  .home-child {
    max-width: 95%;
  }
  .greeting {
    font-family: impact, courier, verdana, arial, helvetica, sans-serif;
    font-size: 75pt;
  }
}
