body {
  background-color: #06090e;
  color: #d6d8dd;
  font-family: arial, verdana, helvetica, sans-serif, courier;
}

a {
  color: #6aa5f8;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171b21;
}

.navbar ul li {
  float: right;
}

.navbar ul li:first-child {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.navbar ul li a:hover {
  background-color: #111;
}

.navbar select {
  display: none;
}

@media (max-width: 800px) {
  .navbar ul li a.nav-item {
    display: none;
  }
  .navbar ul li a.hamburger-icon.toggleClass {
    display: none;
  }
}

@media (min-width: 801px) {
  .navbar ul li a.hamburger-icon {
    display: none;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #171b21; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.01s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #111;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}