<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/home.css?v=" | append: site.github.build_revision | relative_url }}">
    
    <!-- Hamburger menu icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- For Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="navbar">
          <ul>
            <li><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></li>
            <li><a class="hamburger-icon" onclick="openNav()"><i class="material-icons">dehaze</i></a></li>
            <li><a class="nav-item" href="/about/">About</a></li>
            <li><a class="nav-item" href="/education/">Education</a></li>
            <li><a class="nav-item" href="/experience/">Work Experience</a></li>
            <li><a class="nav-item" href="/projects/">Projects</a></li>
            <li><a class="nav-item" href="/">Home</a></li>
          </ul>
          
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="nav-item" href="/">Home</a>
            <a class="nav-item" href="/projects/">Projects</a>
            <a class="nav-item" href="/experience/">Work Experience</a>
            <a class="nav-item" href="/education/">Education</a>
            <a class="nav-item" href="/about/">About</a>
          </div>
          
        </div>
      </header>
      <div class="container">
        <div class="home-child">
          <span class="greeting">Hello.</span>
          <br>
          <span class="intro">I'm Evan.</span>
          <span>{{ content }}</span>
          <span><a href="/about/">Learn more about me</a></span>
        </div>
      </div>
    </div>
    <script src="{{ "/assets/js/script.js" | relative_url }}"></script>
  </body>
</html>
