<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/home.css?v=" | append: site.github.build_revision | relative_url }}">

    <!-- For Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="navbar">
          <ul>
            <li><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/resume/">Resume</a></li>
            <li><a href="/experience/">Work Experience</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </header>
      <div class="container">
        <div class="home-child">
          <span class="greeting">Hello.</span>
          <br>
          <span class="intro">I am Evan.</span>
          <span>{{ content }}</span>
          <span><a href="/about/">Learn more about me</a></span>
        </div>
      </div>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
